[2016-03-16 15:57] ocefpaf opened #4 "Extra dependencies"
- [X] ESMF

[2016-03-27 19:07] ocefpaf opened #6 "Windows build"
We should build should build `nco` from source on Windows.

See http://nco.sourceforge.net/nco_qt_msvc.shtml

[2016-06-13 12:43] ocefpaf commented on #4
From @czender  in https://github.com/ioos/conda-recipes/pull/527#issuecomment-225568167

I agree! And I look forward to use the re-gridding with `nco`. My first attempt to do this failed. (See https://github.com/conda-forge/nco-feedstock/pull/5)

I will try again soon and ping you for some help :wink:

[2016-06-14 01:07] ocefpaf commented on #6
Ping @czender. If you have any hints for us here it would really help us get the Windows builds going.

[2016-06-14 01:14] czender commented on #6
the expert on windows builds of NCO is @pedro-vicente

[2016-06-14 02:06] pedro-vicente commented on #6
@ocefpaf

Building NCO from source is a time consuming task that for a first timer could take several frustrating days to finish. On the NCO main page you will see a list of library dependencies

http://nco.sourceforge.net/

on the link you posted above there are several environment variables listed

LIB_NETCDF
LIB_HDF5
LIB_HDF5_HL
LIB_ZLIB
LIB_SZIP
LIB_ANTLR
LIB_GSL
LIB_CURL
LIB_UDUNITS
LIB_EXPAT

[2016-06-14 11:26] ocefpaf commented on #6
Obrigado Pedro! I'll take give it a try. We have almost all of those in
conda-forge. I need to work on antlr though.
Em 13/06/2016 23:06, "Pedro Vicente" <notifications@github.com> escreveu:

[2016-07-12 01:05] ocefpaf opened #15 "Binaries were not uploaded to the channel"
After the merge of #14 the binaries were note uploaded to the channel.

[2016-07-25 14:00] jakirkham commented on #15
So, it did upload for OS X. It just didn't upload for Linux. Not sure why the latter is not working.

[2016-07-25 14:01] jakirkham commented on #15
@pelson, could you please help look into this? It seems we have another case of uploads not happening. While these cases are largely quite rare, there still seem to be a couple of them. It's a little concerning.

[2016-07-25 18:06] jakirkham commented on #15
Yeah, this is more like `erlang`. I had a similar issue with `libarchive`. By disabling `make check`, it [fixed]( https://github.com/conda-forge/libarchive-feedstock/issues/3#issuecomment-227556577 ) the problem. Now `make check` wasn't failing so I don't know why this mattered. However, I have ended up having to leave it out as a result. Maybe a similar solution will work here?

[2016-08-09 09:52] ocefpaf commented on #15
Fixed in #20

[2016-08-09 09:52] #15 closed

[2016-10-06 10:38] rsignell-usgs commented on #6
@ocefpaf, seems like recent progress allowing `antlr` window builds
https://github.com/antlr/antlr4/pull/1268

[2016-10-06 11:44] ocefpaf commented on #6
https://github.com/antlr/antlr4/pull/1268

See my comment in https://github.com/conda-forge/pynco-feedstock/issues/2#issuecomment-251936898

I never got time to look at the Windows builds but it should be easier now that conda brings `msys2` in the default channel.

[2016-10-06 15:55] czender commented on #6
that's good news but beware that NCO requires antlr version 2.7 not antlr version 4.x. not sure whether the antlr4 package will cut the mustard for NCO.

[2016-10-06 16:13] kwilcox commented on #6
@ocefpaf  I have a windows laptop and an afternoon... if you want to give me a 10 minute brief I can hack away at it.

We can start with a non-ncap2 build for Windows and make incremental improvements as needed if its blocked upstream somewhere.

[2016-10-06 16:24] ocefpaf commented on #6
@kwilcox I am a little bit swamped but you can start by setting your laptop up with conda and a MSVC.

https://github.com/conda/conda-recipes/wiki/Building-from-Source-on-Windows-32-bit-and-64-bit

Once that is done we need to check if we have all the dependencies already in conda and compiled on Windows.

- [X] LIB_NETCDF, HEADER_NETCDF
- [X] LIB_HDF5
- [ ] LIB_HDF5_HL  # not sure
- [X] LIB_ZLIB

[2016-10-06 16:42] czender commented on #6
you are correct that antlr and gsl are only required for ncap2, and that szip is not mandatory (NCO does not require it, though netCDF4 may require it depending on how it is built). so building NCO with --disable-ncap2 might be the easiest way to start.

[2016-10-06 17:29] pedro-vicente commented on #6
LIB_HDF5_HL # not sure

this is required , since netCDF uses the HDF5 High Level library

LIB_SZIP # absent but I believe it is not mandatory (alternative to zlib)

not mandatory, but if the HDF5 version was linked with it, then it is required , otherwise you will get linking errors

LIB_ANTLR, HEADER_ANTLR # absent

optional, must be 2.7, we have a port for Windows in NCO

LIB_GSL, HEADER_GSL # a

[2016-10-24 19:16] rsignell-usgs commented on #6
@pedro-vicente, any chance you could take a stab at getting the settings right for a conda build on windows without ncap2?

I might be able to help answer conda issues...

[2016-10-24 19:21] ocefpaf commented on #6
Based on http://nco.sourceforge.net/nco_qt_msvc.shtml we need Qt's `qmake`. @ccordoba12 do you know if that is possible with `anaconda`'s `Qt`? Any experience with `qmake`?

@czender would it be complicated to switch to `cmake`?

@pedro-vicente if you want to try this please feel free to bug me with any `conda`/`conda-build` question.

[2016-10-24 20:16] czender commented on #6
@ocefpaf A switch from autotools to cmake might be conceptually simple, yet I've never written cmake build scripts and my time is limited. If someone else provided a working cmake build system then I would be happy to include it in NCO with the intent of maintaining both cmake and autotools build systems so long as each has significant usage.

[2016-10-24 20:38] ccordoba12 commented on #6
`qmake` comes with all our Qt builds :-) I don't have much experience with it though.

[2016-10-24 22:12] pedro-vicente commented on #6
@rsignell-usgs

I never worked with conda, and my time is limited to learn yet another build system.
But if you post here or email me some instructions of where to start, I can give it a try, but no promises about time.

What are the problems you found on the conda build?

On my post above from June 13, there are the steps for building with the supplied NCO Qt build:
what you have to do is, with V

[2016-10-25 00:03] ocefpaf commented on #6
Thanks @ccordoba12!

But if you post here or email me some instructions of where to start, I can give it a try, but no promises about time.

I started a PR to show you what we can do so far. See https://github.com/conda-forge/nco-feedstock/pull/22

Conda is not that complicated as it is a layer on top of other build systems.

what you have to do is, with Visual Studio, build the NCO dependencies i

[2016-10-25 00:43] pedro-vicente commented on #6
I did a [EDIT] of my previous reply above

[2016-10-25 01:16] pedro-vicente commented on #6
@ocefpaf

Do the above bld.bat files get the libraries from some "official" location (like github) or do you host them somewhere?

I believe there is no "official" cmake script for Windows for  ANTLR 2.7 and GSL that you could do the same.

So, in this case you have to build  ANTLR 2.7 and GSL manually with compiler settings the same as the above bld.bat, and write a similar bld.bat for both in th

[2016-10-25 11:27] ocefpaf commented on #6
All official sources. In some rare cases we patch them to enable the build.

That is in the background for now. We are focused on getting a build without `GSL` and `ANTLR`.

You can send it via e-mail or upload right here on the GitHub issues. (Drag-and-drop should work for most file formats.) BTW people discussing the `GSL` Windows build at https://github.com/conda-forge/gsl-feedstock/issues/7 wi

[2016-11-08 18:33] pedro-vicente commented on #6
@ocefpaf
@czender
I volunteer to write a CMake build.

[2016-11-08 19:34] czender commented on #6
Much appreciated, @pedro-vicente

[2016-11-08 20:06] ocefpaf commented on #6
that is awesome @pedro-vicente! Please feel free to bug me for any help you need.

[2016-11-12 05:49] pedro-vicente commented on #6
The Cmake build is only for after NCO 4.6.2

[2016-11-12 12:41] ocefpaf commented on #6
Was that released? If not we can open the PR with a pre-release just to get the ball rolling.

[2016-11-12 17:59] pedro-vicente commented on #6
NCO release dates are here
http://nco.sourceforge.net/

[2016-11-13 03:46] czender commented on #6
Latest version is 4.6.2-beta03. Final 4.6.2 probably this coming week.

[2016-11-17 19:29] ocefpaf commented on #4
Done in https://github.com/conda-forge/nco-feedstock/pull/14

[2016-11-17 19:29] #4 closed

[2016-12-05 20:47] pedro-vicente commented on #6
I pushed to github a prototype for a CMake build. The file /doc/index.shtml contains build instructions, which are

CMake build. To build with CMake, do:
mkdir build
cd build
cmake ..
make

The CMake script tries to find header and dependency libraries on standard system locations. If these are not found, they can be set with (the locations in full path are examples)

cmake .. -DNETCDF_INCLUDE:PAT

[2016-12-23 14:34] rsignell-usgs opened #24 "Enable better logging"
As described here: https://sourceforge.net/p/nco/discussion/9829/thread/ee0a55fa/#ebe5
NCO should be returning messages from NetCDF/OPeNDAP that give users information about what went wrong.   For example, this command:
[code]
 fails because the request is too large, but currently we only see this message:
[code]

On @czender's NCO, he gets back these more helpful messages:
[code]
and he believes

[2016-12-25 19:15] #24 closed

[2017-02-07 16:42] czender commented on #6
Where does this issue stand? @pedro-vicente have you produced a working feedstock that builds a conda-installable NCO (including basic ncap2) on Windows?

[2017-02-07 22:53] pedro-vicente commented on #6
@czender The cmake build status is the same as the above post.
Binaries are built for these NCO operators with just the minimum dependencies (netCDF, HDF5, szip, zlib)
ncks
ncbo
ncecat
ncflint
ncpdq
ncra
ncrename

Regarding the conda build, can anyone please remind me what is needed?
Is it a NCO cmake build, including library dependencies?
Like I said before, I can spend some time on the NCO cmake

[2017-02-07 23:16] czender commented on #6
That's a great start. I see the CMakelists.txt file in the top level directory. I think @ocefpaf or someone else familiar with the conda Windows environment ( @rsignell-usgs ? ) needs to give that a try and work it from the feedstock end, and tell us what mods they need in the upstream. @pedro-vicente please install conda on your windows machine so you can iterate/verify that the install works.

[2017-02-08 10:55] ocefpaf commented on #6
Sorry. I am a bit lost. You mean a custom  `CMakelists.txt` file somewhere or are you referring to the one shipped with the source code? (Sorry I never looked into that part of the code so maybe this is something obvious.)

I am in the processing of moving to another city and I won't be able to try that for at least 2 weeks (sorry).

@pedro-vicente conda is not that complicated. I will get a simpl

[2017-02-08 14:54] pedro-vicente commented on #6
@ocefpaf
I you do git pull of NCO, there is a CMakelists.txt file in the top level directory.
Do
mkdir build
cd build
cmake ..

If the dependencies header files/libraries are not found they can be with these options

NETCDF_INCLUDE
NETCDF_LIBRARY
HDF5_LIBRARY
HDF5_LIBRARY
HDF5_HL_LIBRARY
ZLIB_LIBRARY
SZIP_LIBRARY
CURL_LIBRARY

[2017-02-08 15:27] ocefpaf commented on #6
`conda-forge` does not package `SZIP` because of its license. How can I bypass that in the `cmake` call?

[code]

[2017-02-08 15:38] czender commented on #6
FYI it is possible (and quite common) to build netCDF without SZIP, so that NCO will never need to link to SZIP. It should be possible to either eliminate all references to SZIP from CMakelists.txt, or to ignore SZIP when the package is not found.

[2017-02-08 15:41] ocefpaf commented on #6
Our `netCDF` is not built with `szip` and `cmake` is still trying to find it.

I see that in sometimes `SZIP=0` does the trick, would that work with `nco`? I want to avoid patching `CMakelists.txt` for `off`/`on` flags like that.

[2017-02-08 16:01] czender commented on #6
Yes. The conda-forge Windows build is the raison d'etre for the CMakelists.txt. So please just submit any desired changes you need as pull-requests and @pedro-vicente or I will quickly merge them. After conda-forge Windows works, we can go back and improve CMakelists.txt for non-conda situations.

[2017-02-08 16:09] ocefpaf commented on #6
Got it. I though it was already "generic." I will play with it here then and submit any patches if I later.

[2017-02-08 19:22] monocongo commented on #6
I have run cmake on Windows, below is the output. Are there next steps?

"C:\User Programs\CLion\CLion 2016.3.2\bin\cmake\bin\cmake.exe"
-DCMAKE_BUILD_TYPE=Debug -G "CodeBlocks - MinGW Makefiles" C:\home\git\nco
-- Found netcdf.h header file at: C:/home/Anaconda3/Library/include
-- Found netcdf library at: C:/home/Anaconda3/Library/lib/netcdf.lib
-- Found hdf5 library at: C:/Anaconda3/Library/lib/

[2017-02-08 22:41] pedro-vicente commented on #6
@ocefpaf

To avoid this error , you can, for now

1) get SZIP , build, install, from here

https://github.com/erdc-cm/szip

2) comment in your local copy of CMakelists.txt the lines regarding SZIP detection

Because NCO has many possible combinations of library dependencies,
I wanted to keep the dependencies as much simple as possible, so for now I assumed all base libraries are required.
Ideally

[2017-02-08 22:48] pedro-vicente commented on #6
@monocongo
ok, the generation of the build files succeeded.
Now, only thing to  do is build :-)

I never used CodeBlocks, but this should have created a CodeBlocks project or a file called "Makefile".
If you have a "Makefile" just do

make

most people use Visual Studio

cmake -G "Visual Studio 14" ..

this creates a Visual Studio solution file and projects

[2017-02-09 11:36] ocefpaf commented on #6
1. get SZIP , build, install, from here

Like I mentioned in https://github.com/conda-forge/nco-feedstock/issues/6#issuecomment-278359639 `SZIP` is a no-no in `conda-forge` because it does not allowed for binary re-distribution. However, I did check the page to see if that changed in the past years and I found this statement in http://www.compressconsult.com/szip/:

But I downloaded the source and

[2017-03-31 16:51] yingkaisha opened #30 "NCO libjpeg dependency problem"
Hi,

I have installed the nco 4.6.5-0 from `conda install -c conda-forge nco` and when I was trying to use command like `ncea`, I got the error as:

`dyld: Library not loaded: @rpath/libjpeg.9.dylib
  Referenced from: /Users/myname/anaconda2/bin/ncea
  Reason: image not found
Abort trap: 6`

I have `jpeg` been updated in conda and can find a whole set of libjpeg in /opt/local/.... Is there anythin

[2017-03-31 16:54] ocefpaf commented on #30
It seems you have the usual "mixed channel" problem. Please take a look at

http://conda-forge.github.io/docs/conda-forge_gotchas.html#using-multiple-channels

and let me know if that fixes the problem for you.

[2017-03-31 16:54] #30 closed

[2017-03-31 17:08] yingkaisha commented on #30
I've added `.condarc` in my home dir with

`channels:
  - conda-forge
  - defaults`

Then uninstall and install `nco` again, refresh the bash, but doesn't seem to be working, the error msg is the same.

[2017-03-31 17:31] yingkaisha commented on #30
After I did `conda update --all` to re-arange all the versions, the problem disappeared. Thanks for the help.

[2017-05-03 21:06] kwilcox opened #32 "openblas requirement?"
Installing into a vanilla environment and running a simple `ncks` results in

[code]

After a `conda install openblas` everything works fine.

[2017-05-03 21:15] ocefpaf commented on #32
Latest gsl require openblas, but it should be installed automatically. I'll take a look tomorrow why it did not happen as expected.

[2017-05-03 21:16] kwilcox commented on #32
Thanks!

[code]

[2017-05-04 21:31] ocefpaf commented on #32
@kwicox we are getting `gsl` build 1, which should not need `openblas`. See https://github.com/conda-forge/gsl-feedstock/blob/master/recipe/meta.yaml#L18 but still the failure is there :unamused:

I will add `openblas` as a requirement as a workaround for now.

[2017-05-04 21:31] #32 closed

[2017-05-08 20:32] kwilcox opened #34 "Reproducable docker build?"
@conda-forge/nco Does anyone have a Dockerfile to build a stable NCO 4.6.6 environment with all the goodies?

I'm seeing lots of data corruption when testing an update to `4.6.6` from `4.6.1` I want to make sure its not an issue with the conda build before investigating further.

[2017-05-08 20:33] kwilcox commented on #34
AH, nevermind. I was masking the actual error elsewhere.

[code]

I'll just stick to 4.6.1 for now.

[2017-05-08 20:33] #34 closed

[2017-06-13 05:36] jdrenken opened #38 "HTTP Error While Trying To Install NCO"
Hello all,

I was pointed to this amazing Anaconda python option due to the need of combining multiple netCDF daily climo files.  I have the conda-forge channel enabled, but receive this error continously while attempting to install nco.

CondaHTTPError: HTTP None None for url <https://conda.anaconda.org/conda-forge/win-64/repodata.json>
Elapsed: None

An HTTP error occurred when trying to retriev

[2017-06-13 13:14] ocefpaf commented on #38
Looks like you are trying to install conda-forge's `nco` on Windows. Unfortunately we don't provide a binary for that platform yet.

[2017-06-13 13:14] #38 closed

[2017-09-19 14:14] pedro-vicente commented on #6
The CMake build was officially released.
Notes here
http://nco.sourceforge.net/#cmake

[2017-09-19 14:25] czender commented on #6
@ocefpaf @rsignell-usgs Thanks to @pedro-vicente, NCO 4.6.9, just released contains a functional CMake build that works on Windows, and szip can be omitted to avoid license issues. Build can be as simple as
[code]
or with fully specified paths to some libs, e.g.,

```cmake .. -DFIND_SZIP=OFF -DCMAKE_INSTALL_PREFIX=${HOME} -DNETCDF_INCLUDE:PATH=${NETCDF_INC} -DNETCDF_LIBRARY:FILE=${NETCDF_LIB}/libn

[2017-09-19 14:33] pedro-vicente commented on #6
@czender little correction :-) The SZIP and ZLIB detection are now automatic, so -DFIND_SZIP=OFF was removed.

the script CMakeLists.txt includes comments on how this is done.
NOTE, in particular for Windows

[code]

[2017-09-19 15:44] rsignell-usgs commented on #6
There is also this drop in replacement for SZIP

https://www.dkrz.de/redmine/projects/aec/wiki/SZIP

[2017-09-19 18:23] pedro-vicente commented on #6
Just to add to the SZIP/ZLIB issue. This is an example output one gets after doing

`cmake ..`

 regarding a needed ZLIB

[code]

and here and example for SZIP detection

[code]

For this example, Cmake tries to
1) find a ZLIB library, if not found exit with fatal error; if found, add it (e.g libz.a) to the list of libraries to link
2) for the SZIP case, nothing is done

The inclusion of SZIP/ZLIB

[2017-09-20 16:07] czender opened #42 "OSX conda package not building with NCO 4.6.9?"
@doutriaux1 reports that OSX conda package is not available despite Linux package having been available for a day. The build-status indicator for both is green on the nco-feedstock homepage. Is that a false-negative for OSX? Not sure where/if the build logs are saved so it's hard for me to tell whether there's an error. FWIW I have received build failures with clang since ~Sep 4 when Travis update

[2017-09-20 16:15] ocefpaf commented on #42
Travis-CI, which builds our OS X packages, is having trouble. See https://www.traviscistatus.com/incidents/h6gwvyq9zky0

and if you want to follow the build check https://travis-ci.org/conda-forge/nco-feedstock/builds/277263541

Not really, it is probably reflecting the last build.

They are all in the CIs logs at https://travis-ci.org/conda-forge/nco-feedstock

conda-forge uses a CentOS 6 docker

[2017-09-20 16:15] #42 closed

[2017-09-22 16:38] ocefpaf commented on #6
See https://github.com/conda-forge/nco-feedstock/pull/43#issuecomment-331497257 for the latest attempt.
Seems to get quite far but it is failing with:

[code]

[2017-09-22 17:18] pedro-vicente commented on #6
@ocefpaf

I am not sure why that error happens (maybe because it says "No error" :-))

but I did some changes to that part
do a new pull from git hub an try again

It seems the error is on the build part

on the configure part, this should print

cmake ..

`-- Installing links ncea;nces;ncrcat;ncdiff;ncunpack to: /home/pvicente/nco_install/bin`

and on the build

make install

[code]

[2017-09-22 17:26] pedro-vicente commented on #6
ok I see

[code]

this was in Windows. This fails in Windows because Cmake's create_symlink is not for Windows.
Some days ago I added a

`if (UNIX)`

test so that that error does not happen in Windows. It seems you are still using an old version before that change

[2017-09-22 17:50] ocefpaf commented on #6
I am using the latest release. I guess the changes you are referring to did
not make into the release then.

On Sep 22, 2017 2:27 PM, "Pedro Vicente" <notifications@github.com> wrote:

[2017-11-03 20:03] czender commented on #6
@pedro-vicente I am preparing to release 4.7.0. Any testing you can do to ensure that CMake build (still) works with Windows would be appreciated. Hopefully everything is set so that the conda feedstock will "just work" with Windows as of 4.7.0.

[2017-11-06 21:35] pedro-vicente commented on #6
@czender CMake/NCO builds for 4.7.0

[2017-11-08 22:19] xylar commented on #6
I have a PR #47 in for updating to 4.7.0.  Are there additional changes needed to add windows support to the recipe?  Maybe that can be a follow-up PR, if so.

[2017-11-08 22:22] ocefpaf commented on #6
I have a PR with the RC that has the changes. I'll submit it tomorrow. It is "kind of" passing, the build completes but a `ncks -m $url` test fails :unamused:

[2017-11-08 22:33] czender commented on #6
FWIW that test is to see whether the DAP protocol works. The test executes
`ncks -m http://tds.marine.rutgers.edu/thredds/dodsC/roms/espresso/2013_da/his/ESPRESSO_Real-Time_v2_History_Best`
That dataset currently exists, and the test passes on all my Linux/Mac boxen, yet the location is not robust since no one knows who controls that DAP server and when it may disappear. It would be better to test

[2017-11-08 22:41] xylar commented on #6
Indeed, it seems like someone moved or deleted the dataset?

[2017-11-08 22:43] xylar commented on #6
Hmm, works through ncks but if I try to access the URL with a browser it gives me an error:
[code]
Maybe this is unrelated to the test failing.

[2017-11-08 23:05] czender commented on #6
The dataset can only be seen through the DAP protocol that ncks tries to invoke, and it appears to be broken with the Windows build only. This is not a deal-breaker as the rest of NCO is unaffected, but it would be nice to understand why DAP fails this test with Windows only. DAP could easily be misconfigured, e.g., if the build machine has a .daprc or a .dodsrc file it could be misdirecting the D

[2017-11-09 05:27] pedro-vicente commented on #6
this

ncks -m http://tds.marine.rutgers.edu/thredds/dodsC/roms/espresso/2013_da/his/ESPRESSO_Real-Time_v2_History_Best

is working fine on Windows

netcdf ESPRESSO_Real-Time_v2_History_Best {
  dimensions:
    boundary = 4 ;
    eta_psi = 81 ;
    eta_rho = 82 ;
....

[2017-11-09 11:03] ocefpaf commented on #6
I meant our build on AppVeyor.

@xylar you need to append `.html` if you want to open in a browser, but the `400` return means that there is something there, only the browser was not able to use it.

Here are the [AppVeyor build logs](https://ci.appveyor.com/project/ocefpaf/nco-feedstock/history) for those interested, and [this](https://github.com/ocefpaf/nco-feedstock/tree/try_win) is the branch

[2017-11-09 17:03] ocefpaf commented on #6
@czender I believe the [`bld.bat`](https://github.com/ocefpaf/nco-feedstock/blob/try_win/recipe/bld.bat) for that build can help identify the issues. However, some packages get found anyway, like `antlr`.

[2017-11-09 17:37] czender commented on #6
@ocefpaf what makes you think ANTLR is "found anyway"? It's not requested in bld.bat, and the AppVeyor build log quoted above shows that it is not found. And because it is not found, building ncap2 is not attempted. At least that's how I read the log. Here is the CMake example file, `nco/cmake/build.bat`, distributed with NCO:
[code]
I suggest adding the equivalent paths for ANTLR to bld.bat that

[2017-11-09 17:49] ocefpaf commented on #6
A typo. I meant not found :smile: (because we don't have that for windows.)

[2017-11-09 18:20] ocefpaf commented on #6
The source is available and we do [build it](https://github.com/conda-forge/antlr-feedstock/) for OS X and Linux. We would love to add Windows builds we do lack the know-how there.

Using a pre-compiled binary blob may be an option, but I would like to avoid that if possible.
If we cannot build it the alternative would be to re-package your binary in the conda-forge channel.

[2017-11-09 18:25] pedro-vicente commented on #6
@ocefpaf if you have the source, then all is needed are the Visual Studio projects. I'll attach those somewhere here later. I'll give it a try your bld.bat
Using a pre-compiled binary blob is a bad idea

[2017-11-09 19:51] pedro-vicente commented on #6
here it is the Visual Studio project
this should located in
/lib/cpp
on your ANTLR source
I remember there was a compiling error using the Linux only official source, if you have that, post here, but it was a trivial thing
[antlr.zip](https://github.com/conda-forge/nco-feedstock/files/1458984/antlr.zip)

[2017-11-09 22:54] ocefpaf commented on #6
Thanks. I'll give it a try over the weekend.

[2017-11-09 23:13] pedro-vicente commented on #6
@ocefpaf I I tried on the master branch of nco-feedstock

[code]

[2017-11-10 11:48] ocefpaf commented on #6
Not sure what you mean by that. The PR is in #48, not master.

Also, there won't be a package in the channel until we merge that PR.
In the PR we have all the information for the test build and the logs.

[2017-11-10 17:47] pedro-vicente commented on #6
@ocefpaf I tried the try_win branch, I get the same error

[2017-11-10 17:51] ocefpaf commented on #6
Same error as the AppVeyor logs? However, if you are referring the the package not found above I guess we still have a confusion.

The built package will be available in the channel for installation via  `conda install nco` only **after** we merge the PR that submits it, like #48.

That means, we need to make #48 work first. One can test the PR locally by forking/cloning the repo, getting that par

[2017-11-10 18:01] pedro-vicente commented on #6
@ocefpaf

what I did

git clone https://github.com/conda-forge/nco-feedstock
git checkout try_win

I installed Anaconda3, opened a  Anaconda3 command prompt
then did what it says here

https://github.com/conda-forge/nco-feedstock

conda config --add channels conda-forge
conda install nco

error is the one above

PackageNotFoundError: Packages missing in current channels:

  - nco

[2017-11-10 19:11] pedro-vicente commented on #6
@ocefpaf

It would be interesting to find out why that ncks -M test fails, but that shouldn't prevent you from release the nco-feedstock as it is, after adding ANTLR.

If all nco-feedstock builds that should be fine. We NCO developers can then try to find the cause of that error. So, I would just remove that test, add ANTLR and release it

[2017-11-10 19:58] ocefpaf commented on #6
[code]

OK you got the code to build the package, but the [instructions](https://github.com/conda-forge/nco-feedstock#installing-nco) only refer to built packages. `nco` in that PR is not built, it is "building" :wink:
Only after the merge it will be available.

Indeed. If you want to try it locally you are close. Now that you have the code for #48 you can issue:

[code]

from the code main direct

[2017-11-10 21:46] pedro-vicente commented on #6
@ocefpaf

`The only test passing is ncks --help, so I don't think that is advisable. I want to do at least a local file test before merging that PR. `

agreed. @czender probably is more qualified to choose a test.
You happened to choose a problematic/difficult to debug test, because it relies on DAP, curl, the internet. Basically all NCO tests do some change to a local file, and the read the resul

[2017-11-10 21:55] pedro-vicente commented on #6
@ocefpaf

ok

I did

[code]

and nothing seemed to happen

How can I use AppVeyor?

[2017-11-10 22:03] ocefpaf commented on #6
If you got `K:\nco-feedstock\recipe defines build/skip for this configuration.` that means you are not using the `try_win` branch. The main branch skips Windows.

AppVeyor will build automatically when pushing a PR, so nothing different from what we have now.

Yep. Package testing is like integration tests, not really meant for debugging, only to check if the expected features are working.

[2017-11-10 22:21] pedro-vicente commented on #6
@ocefpaf I am totally sure I am using try_win :smiley:

can I change that setting in one of the files?

also, do I need to change this ?

[2017-11-10 22:24] ocefpaf commented on #6
Are you on a [Windows 32 machine or Python <=35](See https://github.com/conda-forge/nco-feedstock/pull/48/files#diff-e178b687b10a71a3348107ae3154e44cR13)?  If the former I don't think the recipe will work. If the latter than you can probably just remove that line b/c it has no baring outside of `conda-forge` (Python is attached to the msvc and both Python 3.5 and 3.6 use vc14, so we need to build

[2017-11-10 22:26] czender commented on #6
Regarding question above about a simple local file test, this may suffice and does not require ncap2:
[code]

[2017-11-10 22:28] ocefpaf commented on #6
Thanks @czender. I'll add it tomorrow. #47 is almost ready and it s time to :sleeping: here.

PS: most of the delay is Travis-CI backlog to build the OS X version :unamused:

[2017-11-10 22:30] pedro-vicente commented on #6
@ocefpaf

`Are you on a Windows 32 machine or Python <=35?`

I have Windows 10 64 bit and I installed Anaconda 32 bit with Python 3.6. Should I try with Anaconda 64 bit.?

[2017-11-10 22:59] pedro-vicente commented on #6
@ocefpaf
that was it, with  Anaconda 64 bit it builds

[2017-11-11 01:49] pedro-vicente commented on #6
I found the cause of the error, that turns out to be a NCO bug

@ocefpaf
if you want to reproduce this or any other bug do

1) change the cmake target to be

`cmake -G "Visual Studio 14 Win64"`

so that it generates a Visual Studio solution for debugging

2) open the solution in Visual Studio and edit a project (say ncks) Properties->Debugging->Environment

add the PATH where the .DLLs for depende

[2017-12-13 01:37] pedro-vicente commented on #6
@ocefpaf
Is it possible to use the current NCO git code into the nco-feedstock? the current code should fix the Win64 issue that made your test fail.

[2017-12-13 15:31] ocefpaf commented on #6
Is it possible to use the current NCO git code into the nco-feedstock? the current code should fix the Win64 issue that made your test fail.

It is possible. See https://github.com/conda-forge/nco-feedstock/pull/48/commits/cdbcba99cb0fedf9e6760d2f8f5609ffd7ae8919

[2017-12-13 16:02] pedro-vicente commented on #6
there is a build error because the file AST.hpp is missing from

 -D ANTLR_INCLUDE:PATH=C:\Users\pedro\Anaconda3\conda-bld\nco_1513179527208\_h_env\Library\include\antlr

[ 79%] Building CXX object CMakeFiles/ncap2.dir/src/nco++/Invoke.cc.obj
Invoke.cc
C:\Users\pedro\Anaconda3\conda-bld\nco_1513179527208\work\src\nco++\Invoke.cc(11): fatal error C1083: Cannot open include file: 'antlr/AST.hpp': No

[2017-12-16 12:12] ocefpaf commented on #6
Done in #48

[2017-12-16 12:12] #6 closed

[2018-01-25 23:36] pedro-vicente opened #58 "Windows builds are broken for 4.7.2"
I replaced the name of the option
 NCO_MSVC_USE_MT
to
MSVC_USE_STATIC_CRT

to keep it consistent with the name used by the other libraries

there are 2 new scripts in /cmake

` clone.bat`

git clones all the dependencies

`
bld.bat`

builds NCO

you can see bld.bat for the CMake options used

`bld.bat crt`

with crt as option builds static CRT version (Debug Win64)

[2018-01-26 18:40] ocefpaf commented on #58
I renamed this issue to reflect the problems we encounter in https://github.com/conda-forge/nco-feedstock/pull/57

[2018-03-03 17:10] xylar commented on #58
Can we close this issue once we see are sure that 4.7.3 is working with Windows? (See #59.)

[2018-03-03 23:51] ocefpaf commented on #58
Yep. Thanks @xylar!

[2018-03-03 23:51] #58 closed

[2018-03-05 19:33] xylar opened #62 "Appveyor failed on 4.3.7 (with HDF5 1.10.1)"
It looks like Appveyor didn't work on the latest merge to master:
https://github.com/conda-forge/nco-feedstock/commits/master
https://ci.appveyor.com/project/conda-forge/nco-feedstock/build/1.0.64
[code]

Anyone know what went wrong?

We currently have a windows build of 4.3.7 with hdf5 1.8.18 but not with hdf5 1.10.1, so I think we do want to figure this out.

[2018-03-05 19:35] ocefpaf commented on #62
Re-starting should fix that. That is conda-verify, which we pulled from the channel, unrelated to the PR.

[2018-03-05 19:35] #62 closed

[2018-03-05 19:47] xylar commented on #62
Great! I'm glad this is easy to fix with a restart!

[2018-03-05 19:52] ocefpaf commented on #62
Thanks bringing that to our attention. I missed that completely when I merged it!

[2018-03-28 13:06] j-chacon opened #63 "NCO breaking my anaconda installation"
I was trying to install NCO from conda-forge, and now spyder is gone. As result, it is impossible to open Spyder, as the pythonw.exe crashes.

Is there any explanation or fix for this issue?

Thanks

[2018-03-28 13:08] ocefpaf commented on #63
No explanation. It is quite unlikely that `nco` is the culprit here.

I'd install it in a separate env to check that.

[2018-03-28 13:08] #63 closed

[2018-06-28 21:17] Mirce-UNAM commented on #34
Excuse me...did you find the solution to your error?. I am having the same error, but I am using the version 4.7.2

[2018-06-28 21:22] kwilcox commented on #34
If you are getting the `Attempt to define fill value when data already exists` error message the solution is listed in the error message and also in my comment above.

[2018-06-28 21:34] czender commented on #34
Also be sure you compile against netCDF 4.6.0 or later since there were some _FillValue regressions attributable to netCDF 4.5.x libraries.

[2018-06-28 21:39] ocefpaf commented on #34
We are not using netCDF 4.6.0 yet on conda-forge. I'll send PRs to test that version.

[2018-06-28 21:41] Mirce-UNAM commented on #34
Thank you very much kwilcox and czender...I am sorry I didn't see before the solution in kwilcox message.
I just converted my file to netcdf3 and it worked, so then I'll turn it back to netcdf4 ... Just one last question, this bug is still on the 4.7.2 version? Thanks!

[2018-08-12 08:21] xylar opened #72 "AppVeyor window build of 4.7.6 is failing"
See:
https://github.com/conda-forge/nco-feedstock/pull/71
https://ci.appveyor.com/project/conda-forge/nco-feedstock/build/1.0.98

I have no experience with building NCO for windows so I'm not able to make a more insightful comment, I'm afraid.

I am going to merge #71  anyway so at least the linux and OSX builds of 4.7.6 will be available.

[2018-08-12 08:25] xylar commented on #72
I would note that AppVeyor was able to successfully build NCO from its own repo:
https://ci.appveyor.com/project/czender/nco/build/1.0.460

[2018-08-12 17:41] czender commented on #72
Thanks @xylar. The fatal error was that a non-void function did not return a value at all. This has been fixed in the latest snapshot, 4.7.7-alpha01. Strange that it built on Appveyor "from its own repo" but not here. I don't understand the intracacies of Appveyor. Anyway, the fix needed by Windows is in the current snapshot. Not sure how to deal with that to get a 4.7.6 build on Windows.

[2018-08-12 18:13] xylar commented on #72
To be honest, I think the easiest solution is to wait for a 4.7.7 release and cope with the fact that 4.7.6 was broken for Windows.

[2018-08-12 18:17] xylar commented on #72
If the issue had been a dependency or something like that, it would have made sense to try to fix it here instead.

[2018-08-12 18:18] czender commented on #72
Agreed. It's just weird that we use Appveyor to avoid this situation, i.e., broken builds, and it never warned us during the development process that anything was wrong.

[2018-08-13 12:13] ocefpaf commented on #72
BTW, it is not the same failure but AppVeyor is returning a false positive on the main repo: https://ci.appveyor.com/project/czender/nco/build/1.0.437#L1020

I'll take a look later today to check what is going on there.

[2018-08-27 00:50] hadfieldnz opened #73 "Installing nco breaks spyder"
On a newly-installed Anaconda 5.2.0 for Windows, I did the following from the Anaconda Prompt in the base environment.

  1. Append conda-forge to the channels list with: conda config --append channels conda-forge.

  2. Update all conda packages with: conda update --all. Conda is now at 4.5.10, Python at 3.6.6 and Spyder at 3.3.1.

  3. Check the operation of Spyder with: python -c "from spyder.a

[2018-08-27 08:12] xylar commented on #73
I don't have a Windows setup to experiment with (I use Linux exclusively) but I tried installing spyder 3.3.1 along with both nco 4.7.6 and 4.7.5, and spyder worked fine in linux with both.  It may be that this is a strictly Windows issue, then.  It could also be that my setup is slightly different from @hadfieldnz's.  I had miniconda3 already installed and simply created new environments with pyt

[2018-08-27 12:35] ocefpaf commented on #73
Not really. It is probably more related to issues with latest conda. See https://github.com/conda/conda/issues/7656 and https://github.com/conda/conda/issues/7626 which affects features (that are heavily used on Windows).

If you can remove `defaults` and try a solution with only `conda-forge` it may work, or at least give us a meaningful error to work with.

PS: the `conda` slowness to resolve pa

[2018-08-27 22:32] hadfieldnz commented on #73
I appear to have fixed the problem by setting "featureless_minimization_disabled_feature_flag: true" in .condarc before installing nco ([conda/conda#7626](https://github.com/conda/conda/issues/7626)). Thank you.

PS: yes, conda is slow to resolve packages, but the wait of several minutes to install nco was clearly related to the large number of packages that was being downgraded. It's much faster

[2018-08-27 23:30] hadfieldnz commented on #73
I have now taken the time to read to the end of issue 7626 and realised that "featureless_minimization_disabled_feature_flag: true" is not the complete solution it was intended to be. I shall await further developments with interest. In the meantime, I can report that removing the defaults channel from ~/.condarc before installing nco also fixed the spyder breakage problem.

Is there any good reas

[2018-08-27 23:31] ocefpaf commented on #73
I am biased :grimacing: but my answer is that there is no good reason. However, https://github.com/conda/conda/issues/7656 should be the best way to go and your :+1: there will help the conda devs prioritize that issue.

[2018-08-28 07:53] xylar commented on #73
I'm going to close this because i think it's not an issue that can be addressed directly in this feedstock.  Feel free to re-open if you disagree.

[2018-08-28 07:53] #73 closed

[2018-09-27 12:24] #72 closed, assigned to nobody

[2018-10-11 19:43] akrherz opened #77 "nco 4.7.7 has a gsl<2.3 dependency"
Issue:

Current conda-forge build of nco has a gsl < 2.3.0a0 dependency, and conda-forge now has gsl=2.4
version: 4.7.7
build string: hf9e8a00_0
dependencies:
    gsl >=2.2.1,<2.3.0a0

It is unclear to me if `nco` has this version requirement or not.  Irregardless, installing gsl=2.4 ends up downgrading nco to 4.5.5, which then fails

$ /opt/miniconda3/envs/prod/bin/ncra
/opt/miniconda3/envs/prod/

[2018-10-11 23:14] czender commented on #77
To my knowledge NCO can build with any modern version of GSL, so this requirement for GSL < 2.3.0  must be somewhere in the feedstock and can/should be eliminated.

[2018-10-16 16:11] akrherz commented on #77
I attempted the "Re-rendered with conda-smithy 3.1.12 and pinning 2018.10.11" workflow and it did not bump the gsl pinning in `.ci_support/linux_.yaml`, so I am puzzled.

[2018-10-16 16:17] ocefpaf commented on #77
That is b/c the global pinning ia `gsl 2.2`. See https://github.com/conda-forge/conda-forge-pinning-feedstock/blob/master/recipe/conda_build_config.yaml#L315-L316

You can propose a new pinning in by sending a PR to that file and the bot will take care to rebuild all the dependencies in topological order.

PS: at the moment the conda-forge core members are focused on the compiler migration and new

[2018-10-16 16:31] akrherz commented on #77
Hi @xylar, the issue with my environment is that the latest `xarray` brought in the latest `gsl=2.4`, so nco got downgraded to a version (4.5.5) that had an open-ended requirement of gsl, which is now broken.  I am too ignorant on pinning to know what to do here :(  Gonna try stepping xarray back in time to get it to where it was using gsl=2.2 as well

[2018-10-16 16:38] xylar commented on #77
@akrherz, that sounds frustrating!  I don't see anything in xarray's feedstock to explain the gsl=2.4 update either:
https://github.com/conda-forge/xarray-feedstock/blob/master/recipe/meta.yaml
So it probably comes from one of xarray's dependencies.  Not a fun thing to track down.  And also a problem I'm likely to face the next time I try to update my xarray version as well.

Let me know if you fi

[2018-10-16 16:39] akrherz commented on #77
thanks @xylar , I'm gonna submit the rerender PR to see if magic happens(tm),  I removed xarray and ended up hitting a conflict with h5netcdf now :(

[2018-10-16 16:50] ocefpaf commented on #77
That is correct @xylar.

We should move that open ended `nco` to "broken." Can you send me the right build version/number. BTW, not sure why xarray is pulling a newer `gsl`, probably another broken pinning somehwere :-(

[2018-10-16 17:02] xylar commented on #77
@akrherz, for what it's worth, the following was successful for me:
[code]
Any idea what's different in what you're trying?  Perhaps python 2.7?

[2018-10-16 17:02] xylar commented on #77
Ah, never mind, that's not bringing in nco 4.7.7 :-(

[2018-10-16 17:03] akrherz commented on #77
@xylar I'm on python3.6 and linux 64bit.  So I restored my conda install from a backup to isolate what happened and am now to this:
[code]

[2018-10-16 17:18] akrherz commented on #77
So now I think the dependency issue is via `xarray` -> `h5netcdf` -> `h5py` -> `hdf5 1.8.18|1.8.18.*`, whereas `nco` has `hdf5 >=1.10.3,<1.10.4.0a0`

You are a saint @ocefpaf for having to deal with all this and so many users, I can't imagine :(

[2018-10-16 18:28] ocefpaf commented on #77
Done!

[2018-10-16 18:29] xylar commented on #77
@ocefpaf, I did what you suggested and here's what I see:
[code]
On the face of it, nothing odd.  Perhaps I missed something.

[2018-10-16 18:41] ocefpaf commented on #77
conda's solver is non-deterministic so by forcing `nco 4.7.7` you are reducing the changes to let it wiggle its way out of some packages that may bring more dependencies or some downgrades. This situation will improve greatly when we have all the packages re-build with the new compilers and the new conda "strict" channel option.

[2018-10-17 15:51] xylar commented on #77
@akrherz, could you see if you're able to create a new conda environment that meets your needs, following #79?  I'd recommend starting with a fresh environment over trying to update packages in an existing environment if at all possible because the latter is particularly non-deterministic.  If you're still not having any luck, it could at least be useful to know which package(s) are causing the pr

[2018-10-17 15:58] akrherz commented on #77
Hi @xylar, the new environment continues to fail with 4.7.7, but I believe your comment yesterday about `hdf5` remains the issue.
[code]

I realize the upgrade issue, but am lazy to rebuild my env each time I want to do upgrades.

[2018-10-17 16:03] xylar commented on #77
@akrherz, odd, I didn't have any trouble with exactly the same command as you.  That was my *second* test when I explicitly asked for a version of nco and got a working environment without conflicts.  Could this be a conda version issue?

[2018-10-17 16:05] xylar commented on #77
I'm using conda 4.5.11

[2018-10-17 16:05] akrherz commented on #77
shrug,
[code]

[2018-10-17 16:06] xylar commented on #77
[code]

[2018-10-17 16:07] xylar commented on #77
Different build but I don't think that explains it.

[2018-10-18 18:38] akrherz commented on #77
@xylar do you have the `defaults` channel disabled? I don't and if I enable it, then I am able to install.

[2018-10-18 19:08] xylar commented on #77
Ah, I see.  I had `defaults` enabled.  So that's likely the difference between our setups.  Unfortunate!  I was just going to disable `defaults` but it sounds like I'm likely to run into trouble.

[2018-10-19 11:59] ocefpaf commented on #77
Interesting. I have `defaults` disabled but I still get my env as expected (with `xarray` from `defaults`!) I guess a conda bug was hindering the issue for me :grimacing:

[2018-10-30 14:44] akrherz commented on #77
Whelp, for whatever reason (I suspect lots of continued hard and great work by @ocefpaf) this now works, might as well close this now.
[code]
<details>
Solving environment: done

## Package Plan ##

  environment location: /opt/miniconda3/envs/test

  added / updated specs:
    - nco=4.7.7
    - xarray

The following packages will be downloaded:

    package                    |            build

[2018-10-30 14:44] #77 closed

[2019-02-14 17:22] czender opened #83 "Appveyor windows builds fail for two reasons"
Pinging @xylar @ocefpaf @pedro-vicente

Windows builds of NCO 4.7.9-alphaXXX have been failing for (I think) two reasons. I am trying to fix one related to the handling of the new netCDF memio structure in netCDF 4.6.2, but Appveyor fails before it even tries to build the code with:

[code]
Full Appveyor output is available for any recent build e.g., https://ci.appveyor.com/project/czender/nco/bui

[2019-02-14 17:24] ocefpaf commented on #83
I believe you are referring to failures in https://github.com/nco/nco, right? I can take a look in a moment.

[2019-02-14 17:24] #83 closed

[2019-04-13 16:04] xylar opened #87 "Tests with ncremap appear to hang in Azure CI (maybe others)"
When working on #86, I tried adding back in the tests here:
https://github.com/conda-forge/nco-feedstock/blob/master/recipe/run_test.sh#L28-L31

Azure CI appears to hang for at least minutes on these tests (I eventually killed the CI), whereas they take less than a second on my laptop.  For now, they remain commented out but this deserves investigation so we can have more confidence that NCO is wo

[2019-04-13 19:25] xylar commented on #87
This appears to result from `ncremap` expecting input from `stdin`.  Like in `ncclimo`, it is not safe to assume that data piped into `stdin` is intended for `ncremap`, since pipes from `stdin` are used in various other ways in chron jobs, CI and unit testing.  However, `ncremap` does not currently have any way to explicitly turn off input `stdin` (as `ncclimo` does).  An issue has been posted (ht

[2019-04-15 08:08] xylar commented on #87
This should be fixed in 4.8.0 with a `--no_stdin` flag.  I'm leaving this open for now because the tests will need to be updated for 4.8.0.

[2019-06-04 19:24] antonio-rodriges opened #91 "Cannot install NCO on Ubuntu 14 and 16"
Issue:

I installed NCO (https://anaconda.org/conda-forge/nco) successfully many times before, but now I am getting the following errors:

[code]

After doing
[code]

it just hangs...

<br/>
Environment (<code>conda list</code>):
<details>

[code]
</details>

<br/>
Details about  <code>conda</code> and system ( <code>conda info</code> ):
<details>

[code]
</details>

[2019-06-04 19:48] ocefpaf commented on #91
Looks like a mixed channel issue. Please follow the instructions in https://conda-forge.org/docs/user/tipsandtricks.html#how-to-fix-it and re-open if that does not fix your problem.

[2019-06-05 07:53] antonio-rodriges commented on #91
This did not help, the errors are the same as above:

[code]
The link you provided contains outdated information (`channel_priority` should be `true`, not `strict`), here is the newer link:
https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-channels.html

[2019-06-05 08:16] xylar commented on #91
Sorry you're having these issues, @antonio-rodriges.

I suspect the problem is that a bunch of packages you have installed in your base envrionment are from the defaults channel and thus aren't compatible with versions on `conda-forge`.  If it is an option for you, a much safer thing to do would be to create a new virtual environment for `nco` in which all the available dependencies also come from

[2019-06-05 10:58] ocefpaf commented on #91
All true :smile: I thought we have that in the docs. We should add it.

[2019-06-05 17:55] czender opened #92 "Unexpected and prolonged Appveyor breakage"
I do not understand why Appveyor testing of NCO broke with build [1.0.854](https://ci.appveyor.com/project/czender/nco/builds/24947244) about 5 days ago.
Until then it had be working smoothly for a few weeks. Build 854 altered nothing to do with Appveyor. The breakage is caused by a **huge** number of packages that are suddenly unavailable in the channels NCO employs
[code]
and here are NCO's curr

[2019-06-05 18:00] ocefpaf commented on #92
@czender this breakage is in the `nco` repository, right? While there is an overlap of the people who take care of `nco`'s Appveyor testing there and the people working on the conda-forge `nco` package let's open an issue there. (PS: I believe I know what it is, PR to fix it soon...)

[2019-06-05 18:00] #92 closed

[2019-06-05 18:05] czender commented on #92
Okey dokey. Glad you have a hunch as to the problem.

[2019-06-05 19:08] antonio-rodriges commented on #91
Thank you, it worked

[2019-06-05 19:08] #91 closed

[2019-06-07 19:29] #87 closed

[2020-01-28 19:25] tsjackson-noaa opened #103 "UDUnits functionality broken"
Issue:
Recent versions of NCO utilities installed through Anaconda function correctly, but throw an error when performing any operation requiring functionality that uses the UDUnits library (at least, relating to calendar functions.)

I've verified this with Anaconda nco 4.7.6, 4.8.1 and 4.9.1, with 64-bit offset and NetCDF4-Classic files, and with conda 4.7.12 and 4.8.1.

Thanks!
Tom Jackson, GFD

[2020-01-28 19:42] ocefpaf commented on #103
I have the same packages but I could not reproduce this with a netCDF file I used to test this.

[2020-01-28 20:44] czender commented on #103
Could still be an `LD_LIBRARY_PATH` issue, prepend the Anaconda library path to yours or else `UDUNITS` may come from an incompatible elsewhere.

[2020-01-28 21:16] tsjackson-noaa commented on #103
Wow, thanks for getting back to me so quickly! Based on @ocefpaf 's comment, I found the source of the problem: everything works under bash, but in tcsh (don't ask; I was using it for historical compatibility with our systems) Conda didn't set the UDUNITS2_XML_PATH environment variable. Doing
[code]
in tcsh after activating the environment resolved the problem.

Since the issue is due to Anaconda'

[2020-01-28 21:20] ocefpaf commented on #103
Let's keep this open now that we know the problem. We should provide more options on the activation script to cover tcsh and others.

[2020-01-28 21:28] xylar commented on #103
@tsjackson-noaa, thanks for figuring this one out.  It should be easy enough to fix the activation scripts.  @ocefpaf, if you don't get to it, I'll try to do so soon.

[2020-01-28 21:31] xylar commented on #103
Since the problem is actually with udunits2 and not with NCO itself, I opened an issue there, too.

[2020-01-28 23:34] ocefpaf commented on #103
If you know what to do wand are willing to do please go ahead. I'm working just a few hours a day. (Slowly recovery from a knee surgery.)

[2020-01-28 23:35] ocefpaf commented on #103
Closing in favor of https://github.com/conda-forge/udunits2-feedstock/issues/30.

(Thanks @xylar!)

[2020-01-28 23:35] #103 closed

[2022-10-27 16:07] zklaus opened #157 "Rebuild for netcdf 4.9.0?"
### Comment:

Should we do a rebuild for netcdf 4.9.0? I am salivating over some of the compression options.

[2022-10-27 16:23] xylar commented on #157
I believe we won't be able to.  I think we will need migration of dependencies.  We are waiting on 4.9.1 to be released because 4.9.0 was heavily patched.  See https://github.com/conda-forge/libnetcdf-feedstock/pull/140#issuecomment-1262836839